#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # Display
    chown system system /sys/class/drm/card0-DSI-1/DCI_P3
    chown system system /sys/class/drm/card0-DSI-1/SRGB
    chown system system /sys/class/drm/card0-DSI-1/adaption_mode
    chown system system /sys/class/drm/card0-DSI-1/aod
    chown system system /sys/class/drm/card0-DSI-1/cabc
    chown system system /sys/class/drm/card0-DSI-1/dim_alpha
    chown system system /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chown system system /sys/class/drm/card0-DSI-1/dither_en
    chown system system /sys/class/drm/card0-DSI-1/force_screenfp
    chown system system /sys/class/drm/card0-DSI-1/hbm
    chown system system /sys/class/drm/card0-DSI-1/hbm_brightness
    chown system system /sys/class/drm/card0-DSI-1/native_display_customer_p3_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_customer_srgb_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_loading_effect_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode
    chown system system /sys/class/drm/card0-DSI-1/native_display_wide_color_mode
    chown system system /sys/class/drm/card0-DSI-1/night_mode
    chown system system /sys/class/drm/card0-DSI-1/notify_dim
    chown system system /sys/class/drm/card0-DSI-1/notify_fppress
    chown system system /sys/class/drm/card0-DSI-1/oneplus_mode
    chown system system /sys/class/drm/card0-DSI-1/oplus_msd_aod
    chown system system /sys/class/drm/card0-DSI-1/oplus_shutdownflag
    chown system system /sys/class/drm/card0-DSI-1/panel_serial_number

    # Radio
    chown radio radio /sys/class/drm/card0-DSI-1/osc_mode
    chown radio radio /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dynamic_dsi_clock

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2769

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idProduct 0x2768
    write /config/usb_gadget/g1/idVendor 0x22D9

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2764

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2765

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2771

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2772

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276A

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2783

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276C

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x276E

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2767

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2775

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x22D9
    write /config/usb_gadget/g1/idProduct 0x2766
